.git
.venv
.DS_Store
nim.cfg
nimcache
out
tmp
build
replay-viewer/dist
*.tmp

singlepod/runs
singlepod/ctf
singlepod/__pycache__
tools/runtime_spike/.deps
/bitworld/
/paddy/
/taggy/
/pixie/
/silky/
/whisky/
/windy/
/mummy/
/supersnappy/
/webby/
/curly/
/libcurl/
/chroma/
/flatty/
/zippy/
/bumpy/
/vmath/
/crunchy/
/nimsimd/
/jsony/
/shady/
/urlly/
/ws/
/opengl/
/fluffy/
/metal4/
/dx12/
/vk14/
